.technews-wrapper{
    display: flex;
    background: #ffffff;
    color: #000000;
    border-radius: 12px;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    overflow: hidden;
    border: 1px solid #ccc;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}