.technews {
  position: relative;
  overflow: hidden;
  padding: 1rem;

  &__controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    transform: translateY(-50%);

    button {
      background: none;
      border: none;
      color: #00b6fa;
      font-size: 2rem;
      padding: 0.5rem 1rem;
      cursor: pointer;

      &:hover {
        color: #009fd6;
      }
    }
  }

  &__wrapper {
    display: flex;
    gap: 6rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-left: calc(50% - 150px);
    padding-right: calc(50% - 150px);
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    scroll-snap-align: center;
    position: relative;
    width: 300px;
    height: 180px;
    flex: 0 0 auto;
    border-radius: 12px;
    overflow: hidden;
    text-decoration: none;
    color: white;
    transition: transform 0.2s;
    z-index: 10;

    &:hover {
      transform: scale(1.03);
    }

    &.no-hover:hover {
      transform: none;
    }
  }

  &__thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
  }

  &__headline {
    position: absolute;
    bottom: 0.8rem;
    left: 1rem;
    right: 1rem;
    font-weight: bold;
    font-size: 1rem;
    z-index: 1;
  }
}
