.header-place {
  }
  
  .header-button {
    display: flex; /* ✅ 요소들을 가로로 배열 */
    justify-content: space-around; /* 버튼들 간격 고르게 */
    align-items: center; /* 버튼 수직 가운데 정렬 */
    height: 100%; /* 부모 높이 채우기 */
  }
  