.bottom-nav-place {
  position: absolute;
  bottom: 0;
  margin: 5px;
  width: 100%; // 🔥 부모 기준 가로 길이 100%
}

.bottom-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%; // 🔥 내부 nav도 100%로 확장
}
